<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${isName}? ${name} + ', I hope you interested to hire me.' : 'This is my CV'" />
    <h1>Basic Information</h1>

    <p>Name : I Gusti Agung Nanda Dharma Wangsa<br>
        Birthdate : 9 February 1998<br>
        Birthplace : Jakarta<br>
        Address : Jl.Kalimantan no 219 Beji Depok 16421<br>
    </p>

    <h1>Education History</h1>
    <p>SMA Mardi Yuana Depok graduated 2013<br>
        Universitas Indonesia Faculty of Computer Science 2016<br>
    </p>

    <h3>About me</h3>
    <p>	Hello! My name is Anan. I am student of CSUI 2016.<br>
        I'm experienced in python, java. Right now im intrested<br>
        on data mining and i'm expring things about it. I also<br>
        experienced to be in intense organisation like Marching<br>
        Band Madah Bahana Universitas Indonesia. Thankyou :D<br>
    </p>
</body>
</html>
